/* HOVER EFFECTS */
.hover-scale {
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;
}
.hover-scale:hover {
    transform: scale(1.1) !important;
}
.hover-no-scale {
  cursor: pointer;
}
.hover-no-scale:hover {
  transform: scale(1.01);
  cursor: pointer;
  color: #ffc107;
}


/* CUSTOM TABLE STYLES */
.custom-bordered-table td,
.custom-bordered-table th {
  border: 1px solid #787879;
}

.custom-bordered-table th:nth-child(5),
.custom-bordered-table th:nth-child(6),
.custom-bordered-table th:nth-child(7) {
  border: none;
  background-color: transparent;
}

/* CALENDAR */
.rbc-month-view .rbc-day-bg {
  transition: transform 0.2s ease;
}

.rbc-month-view .rbc-day-bg:hover {
  transform: scale(1.03);
  cursor: pointer;
  z-index: 2;
  background-color: rgba(255, 193, 7, 0.1);
}

.rbc-month-view .rbc-day-bg {
  will-change: transform;
}

/* ACCORDION */ 
.accordion {
	--bs-accordion-btn-color: black;
	--bs-accordion-btn-bg: lightgrey;
	--bs-accordion-active-color: black;
	--bs-accordion-active-bg: #ffc107;
}
.fullscreen-accordion {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 1050;
  overflow-y: auto;
  padding: 1rem;
  box-sizing: border-box;
}